.nav-bar
{
    width: 100%;
    background: var(--bg-secondary);
    text-align: center;

    -webkit-box-shadow: var(--cover-box-shadow);
    -moz-box-shadow: var(--cover-box-shadow);
    box-shadow: var(--cover-box-shadow);
}