.clock
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.clock > .separator
{
    display: none;
}

@media (min-width: 600px)
{
    .clock
    {
        flex-direction: row;
        gap: 15px
    }

    .clock > .separator
    {
        display: block;
        margin-top: 15px;
    }
}

